.portfolio {
    margin-top: 50px;

    &-top {
        display: flex;
        flex-direction: column;
        gap: 1px;
        opacity: 0;

        &-animate {
            animation: FirstProjectToRight 500ms ease-in-out forwards;
        }

        @include M {
            align-items: center;
        }

        &-title {
            font-size: 24px;
            color: bisque;
            letter-spacing: 1px;

            @include M {
                font-size: 22px;
            }
        }

        &-text {
            font-size: 17px;

            @include M {
                text-align: center;
            }
        }
    }
    
    &-fristProject {
        display: flex;
        flex-direction: column;
        gap: 35px;

        &-top {
            display: flex;
            flex-direction: column;
            gap: 1px;
            margin: 0 auto;
            margin-top: 25px;
            opacity: 0;

            &-animate {
                animation: topAnimationFirstProject 500ms ease-in-out forwards;
            }

            &-title {
                text-align: center;
                font-size: 22px;
                color: bisque;

                @include L {
                    font-size: 20px;
                }
            }

            &-text {
                text-align: center;
                font-size: 17px;

                @include L {
                    font-size: 16px;
                }
            }
        }

        &-middle {
            display: flex;
            justify-content: space-between;

            @include M {
                flex-direction: column;
                align-items: center;
                gap: 25px;
            }

            &-left {
                width: 45%;
                overflow: hidden;
                border-radius: 10px;
                opacity: 0;

                &-animate {
                    animation: FirstProjectToLeft 500ms ease-in-out forwards;
                }

                @include L {
                    display: flex;
                    align-items: center;
                }

                @include M {
                    width: 70%;
                }

                @include S {
                    width: 100%;
                }

                &-image {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                    box-shadow: 0 0 4px black;
                    transform: scale(1);
                    transition: all 350ms ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            &-right {
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 60px;
                opacity: 0;

                &-animate {
                    animation: FirstProjectToRight 500ms ease-in-out forwards;
                }
                
                @include L {
                    gap: 40px;
                }

                @include M {
                    gap: 25px;
                    width: 70%;
                }

                @include S {
                    width: 100%;
                }

                &-title {
                    font-size: 22px;
                    color: bisque;

                    @include L {
                        font-size: 18px;
                    }
                }

                &-text {
                    font-size: 18px;
                    line-height: 1.4;
                    text-align: center;

                    @include L {
                        font-size: 16px;
                    }
                }

                &-button {
                    padding: 10px 20px;
                    border-radius: 10px;
                    border: 1px solid white;
                    color: white;
                    background-color: transparent;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 600;
                    font-family: 'Dosis', sans-serif;
                    letter-spacing: 1px;
                    transition: all 350ms ease-in-out;
                    cursor: pointer;

                    @include L {
                        font-size: 11px;
                    }

                    &:hover {
                        background-color: bisque;
                        color: black;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    &-portfolioContainer {
        margin-top: 50px;

        &-top {
            display: flex;
            flex-direction: column;
            gap: 1px;

            &-title {
                font-size: 24px;
                color: bisque;
            }

            &-text {
                font-size: 17px;
            }
        }

        &-middle {
            display: flex;
            flex-direction: column;
            gap: 35px;
            margin-top: 35px;

            &-filterBar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%;
                margin: 0 auto;

                &-title {
                    font-size: 18px;
                }

                &-button {
                    padding: 10px 15px;
                    font-family: 'Dosis', sans-serif;
                    border-radius: 10px;
                    border: 1px solid white;
                    background-color: transparent;
                    color: white;
                    font-weight: 700;
                    font-size: 16px;
                    transition: all 350ms ease-in-out;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                        background-color: bisque;
                        color: black;
                    }
                }
            }

            &-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 20px;
                border-radius: 10px;
                overflow: hidden;
                transform: scale(1);

                &-link {
                    overflow: hidden;
                    border-radius: 10px;
                    transform: scale(1);
                    width: 95%;

                    &-image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        cursor: pointer;
                        border-radius: 10px;
                        box-shadow: 0 0 6px black;
                        transform: scale(1);
                        transition: all 500ms ease-in-out;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}