.skills {
    margin-top: 50px;

    &-top {
        display: flex;
        flex-direction: column;
        opacity: 0;

        &-animate {
            animation: skillsTopAnimate 500ms ease-in-out forwards;
        }

        @include M {
            align-items: center;
        }

        &-title {
            font-size: 24px;
            color: bisque;
            letter-spacing: 1px;

            @include M {
                font-size: 20px;
            }
        }

        &-subTitle {
            font-size: 17px;

            @include M {
                font-size: 14px;
            }
        }
    }

    &-middle {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        gap: 25px;

        @include XL {
            margin-top: 25px;
        }

        @include M {
            flex-direction: column-reverse;
            align-items: center;
        }

        &-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            padding: 25px;
            border-radius: 10px;
            gap: 25px;
            opacity: 0;

            &-animate {
                animation: skillsLeftAnimate 500ms ease-in-out forwards;
            }

            @include XL {
                align-items: flex-start;
            }

            @include M {
                width: 100%;
            }

            &-top {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                width: 60%;

                @include XL {
                    justify-content: center;
                    width: 90%;
                }

                @include M {
                    align-items: center;
                    width: 100%;
                }

                &-title {
                    font-size: 22px;
                    text-align: center;
                    color: bisque;

                    @include M {
                        font-size: 20px;
                    }
                }
                &-text {
                    font-size: 16px;
                    text-align: center;
                }
            }

            &-row {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 35px;
                width: 60%;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 1px 1px 4px black;
                transition: all 350ms ease-in-out;
                opacity: 0;

                    &-animate1 {
                        animation: skillsRowsAnimate 500ms ease-in-out forwards;
                    }

                    &-animate2 {
                        animation: skillsRowsAnimate 500ms ease-in-out forwards;
                        animation-delay: 1s;
                    }

                    &-animate3 {
                        animation: skillsRowsAnimate 500ms ease-in-out forwards;
                        animation-delay: 2s;
                    }

                @include XL {
                    width: 90%;
                }

                @include M {
                    width: 100%;
                }

                &:hover {
                    transform: scale(1.1);
                    background-color: rgba($color: bisque, $alpha: 0.7);
                    color: black;
                }

                &-title {
                    font-size: 19px;
                    text-decoration: underline;
                    font-weight: 800;

                    @include M {
                        font-size: 17px;
                    }
                }

                &-container {
                    display: flex;
                    width: 100%;
                    justify-content: center;

                    &-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        
                        &-icon {
                            width: 30px;
                            height: 30px;
                        }

                        &-text {
                            font-size: 17px;
                            font-weight: 600;

                            @include S {
                                font-size: 14px;
                            }
                        }
                    }
                } 
            }
        }

        &-right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            object-fit: cover;
            opacity: 0;

            &-animate {
                animation: skillsRightAnimate 500ms ease-in-out forwards;
            }

            @include M {
                width: 55%;
            }

            @include S {
                width: 80%;
            }

            &-image {
                height: 70%;
                padding: 25px;
                //box-shadow: 0 0 4px black;
                border-radius: 10px;

                @include L {
                    height: 50%;
                }

                @include M {
                    width: 100%;
                }
            }
        }
    }
}