
@import "../mixin/responsive";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    background-color: rgba($color: #16272e, $alpha: 1);
}

.app {
    padding: 0 100px;
    margin: 0 auto;
    color: white;

    @include L {
        padding: 0 50px;
    }

    @include M {
        padding: 0 20px;
    }

}