* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #16272e;
}

.app {
  padding: 0 100px;
  margin: 0 auto;
  color: white;
}
@media (max-width: 1024px) {
  .app {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .app {
    padding: 0 20px;
  }
}

@keyframes loaderBackground {
  from {
    transform: scale(0);
    filter: blur(5px);
    border-radius: 100%;
  }
  to {
    transform: scale(1);
    filter: blur(0);
    border-radius: 0;
  }
}
@keyframes loaderTitle {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes loaderSubTitle {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes closeLoader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes headerAnimation {
  from {
    transform: scaleY(0);
    transform-origin: top;
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes headerAnimationLink {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bannerLeftAnimation {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bannerRightAnimation {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes skillsContainerAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes skillsTopAnimate {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes skillsLeftAnimate {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes skillsRightAnimate {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes skillsRowsAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes softSkillsTop {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes softSkillsCard {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes topAnimationFirstProject {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes FirstProjectToLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes FirstProjectToRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes hoverImage {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 12;
  }
}
@keyframes hoverImageImage {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.header {
  background-color: #16272e;
  transform-origin: top;
  animation: headerAnimation 500ms ease-in-out forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 100px;
}
@media (max-width: 1024px) {
  .header {
    padding: 0 50px;
  }
}
@media (max-width: 425px) {
  .header {
    padding: 0 20px;
  }
}
.header-right {
  width: 40%;
  display: flex;
}
@media (max-width: 1024px) {
  .header-right {
    width: 60%;
  }
}
.header-right-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-right-nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all ease-in-out 500ms ease-in-out;
}
.header-right-nav-link:hover {
  animation: headerAnimationLink 500ms ease-in-out forwards;
  color: bisque;
}
.header-right-navMobile {
  justify-content: flex-end;
  width: 100%;
  display: flex;
}
.header-right-navMobile-burger {
  font-size: 24px;
}

.headerModal {
  position: absolute;
  padding: 10px 20px;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../../assets/images/fonds.webp");
  background-size: cover;
  justify-content: space-between;
}
.headerModal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 20px;
}
.headerModal-top-column {
  display: flex;
  flex-direction: column;
}
.headerModal-top-column-title {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}
.headerModal-top-column-subTitle {
  font-size: 16px;
  font-weight: 600;
}
.headerModal-top-close {
  font-size: 18px;
}
.headerModal-content {
  display: flex;
  height: 100%;
}
.headerModal-content-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 50px;
}
.headerModal-bottom {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.headerModal-bottom-link {
  color: white;
  text-decoration: none;
}
.headerModal-bottom-link-logo {
  font-size: 30px;
}

.loader {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loaderBackground 1500ms ease-in-out forwards;
  background-image: url("../../assets/images/fonds.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.loader-animate {
  animation: closeLoader 1500ms ease-in-out forwards;
}
.loader-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loader-content-title {
  font-size: 12vw;
  color: white;
  text-shadow: 2px 2px 10px black;
  opacity: 0;
  letter-spacing: 10px;
}
.loader-content-title-animate {
  animation: loaderTitle 1s ease-in-out forwards;
}
.loader-content-subTitle {
  font-size: 6vw;
  color: white;
  text-shadow: 2px 2px 10px black;
  opacity: 0;
  letter-spacing: 5px;
}
.loader-content-subTitle-animate {
  animation: loaderSubTitle 1s ease-in-out forwards;
}

.banner {
  margin-top: 139px;
  display: flex;
}
@media (max-width: 1024px) {
  .banner {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
.banner-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
@media (max-width: 1024px) {
  .banner-left {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .banner-left {
    width: 60%;
  }
}
@media (max-width: 425px) {
  .banner-left {
    width: 100%;
  }
}
.banner-left-animate {
  animation: bannerLeftAnimation 1000ms ease-in-out forwards;
}
.banner-left-image {
  width: 75%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 90%;
}
.banner-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 80px;
  gap: 40px;
  opacity: 0;
}
@media (max-width: 1440px) {
  .banner-right {
    padding: 40px;
  }
}
@media (max-width: 1024px) {
  .banner-right {
    padding: 20px;
    gap: 25px;
    width: 55%;
  }
}
@media (max-width: 768px) {
  .banner-right {
    width: 100%;
  }
}
.banner-right-animate {
  animation: bannerRightAnimation 1000ms ease-in-out forwards;
}
.banner-right-title {
  font-size: 28px;
  text-align: center;
  color: bisque;
}
@media (max-width: 1024px) {
  .banner-right-title {
    font-size: 22px;
  }
}
.banner-right-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 1024px) {
  .banner-right-text {
    font-size: 16px;
  }
}
.banner-right-link {
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  text-decoration: none;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: all 350ms ease-in-out;
  font-weight: 600;
}
.banner-right-link:hover {
  background-color: bisque;
  color: black;
  transform: scale(1.1);
}
@media (max-width: 1024px) {
  .banner-right-link {
    font-size: 11px;
  }
}

.skills {
  margin-top: 50px;
}
.skills-top {
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.skills-top-animate {
  animation: skillsTopAnimate 500ms ease-in-out forwards;
}
@media (max-width: 768px) {
  .skills-top {
    align-items: center;
  }
}
.skills-top-title {
  font-size: 24px;
  color: bisque;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .skills-top-title {
    font-size: 20px;
  }
}
.skills-top-subTitle {
  font-size: 17px;
}
@media (max-width: 768px) {
  .skills-top-subTitle {
    font-size: 14px;
  }
}
.skills-middle {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
@media (max-width: 1440px) {
  .skills-middle {
    margin-top: 25px;
  }
}
@media (max-width: 768px) {
  .skills-middle {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.skills-middle-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 25px;
  border-radius: 10px;
  gap: 25px;
  opacity: 0;
}
.skills-middle-left-animate {
  animation: skillsLeftAnimate 500ms ease-in-out forwards;
}
@media (max-width: 1440px) {
  .skills-middle-left {
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .skills-middle-left {
    width: 100%;
  }
}
.skills-middle-left-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 60%;
}
@media (max-width: 1440px) {
  .skills-middle-left-top {
    justify-content: center;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .skills-middle-left-top {
    align-items: center;
    width: 100%;
  }
}
.skills-middle-left-top-title {
  font-size: 22px;
  text-align: center;
  color: bisque;
}
@media (max-width: 768px) {
  .skills-middle-left-top-title {
    font-size: 20px;
  }
}
.skills-middle-left-top-text {
  font-size: 16px;
  text-align: center;
}
.skills-middle-left-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px black;
  transition: all 350ms ease-in-out;
  opacity: 0;
}
.skills-middle-left-row-animate1 {
  animation: skillsRowsAnimate 500ms ease-in-out forwards;
}
.skills-middle-left-row-animate2 {
  animation: skillsRowsAnimate 500ms ease-in-out forwards;
  animation-delay: 1s;
}
.skills-middle-left-row-animate3 {
  animation: skillsRowsAnimate 500ms ease-in-out forwards;
  animation-delay: 2s;
}
@media (max-width: 1440px) {
  .skills-middle-left-row {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .skills-middle-left-row {
    width: 100%;
  }
}
.skills-middle-left-row:hover {
  transform: scale(1.1);
  background-color: rgba(255, 228, 196, 0.7);
  color: black;
}
.skills-middle-left-row-title {
  font-size: 19px;
  text-decoration: underline;
  font-weight: 800;
}
@media (max-width: 768px) {
  .skills-middle-left-row-title {
    font-size: 17px;
  }
}
.skills-middle-left-row-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.skills-middle-left-row-container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.skills-middle-left-row-container-content-icon {
  width: 30px;
  height: 30px;
}
.skills-middle-left-row-container-content-text {
  font-size: 17px;
  font-weight: 600;
}
@media (max-width: 425px) {
  .skills-middle-left-row-container-content-text {
    font-size: 14px;
  }
}
.skills-middle-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}
.skills-middle-right-animate {
  animation: skillsRightAnimate 500ms ease-in-out forwards;
}
@media (max-width: 768px) {
  .skills-middle-right {
    width: 55%;
  }
}
@media (max-width: 425px) {
  .skills-middle-right {
    width: 80%;
  }
}
.skills-middle-right-image {
  height: 70%;
  padding: 25px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .skills-middle-right-image {
    height: 50%;
  }
}
@media (max-width: 768px) {
  .skills-middle-right-image {
    width: 100%;
  }
}

.softSkills {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (max-width: 768px) {
  .softSkills {
    margin-top: 25px;
  }
}
.softSkills-top {
  display: flex;
  flex-direction: column;
  gap: 1px;
  opacity: 0;
}
.softSkills-top-animate {
  animation: softSkillsTop 500ms ease-in-out forwards;
}
.softSkills-top-title {
  font-size: 24px;
  color: bisque;
}
@media (max-width: 768px) {
  .softSkills-top-title {
    font-size: 20px;
  }
}
.softSkills-top-text {
  font-size: 17px;
}
@media (max-width: 768px) {
  .softSkills-top-text {
    font-size: 16px;
  }
}
.softSkills-middle {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1440px) {
  .softSkills-middle {
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 1024px) {
  .softSkills-middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .softSkills-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.softSkills-middle-row {
  display: flex;
  justify-content: center;
  width: 20%;
  border-radius: 10px;
  transition: all 350ms ease-in-out;
  box-shadow: 0 0 6px black;
  opacity: 0;
}
@media (max-width: 1440px) {
  .softSkills-middle-row {
    width: 23%;
  }
}
@media (max-width: 1024px) {
  .softSkills-middle-row {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .softSkills-middle-row {
    width: 75%;
  }
}
@media (max-width: 425px) {
  .softSkills-middle-row {
    width: 100%;
  }
}
.softSkills-middle-row-animate1 {
  animation: softSkillsCard 500ms ease-in-out forwards;
}
.softSkills-middle-row-animate2 {
  animation: softSkillsCard 500ms ease-in-out forwards;
  animation-delay: 500ms;
}
.softSkills-middle-row-animate3 {
  animation: softSkillsCard 500ms ease-in-out forwards;
  animation-delay: 1000ms;
}
.softSkills-middle-row-animate4 {
  animation: softSkillsCard 500ms ease-in-out forwards;
  animation-delay: 1500ms;
}
.softSkills-middle-row:hover {
  background-color: rgba(255, 228, 196, 0.7);
  color: black;
  box-shadow: 0 0 6px white;
}
.softSkills-middle-row-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
}
.softSkills-middle-row-card-image {
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
}
.softSkills-middle-row-card-title {
  font-size: 18px;
  text-align: center;
}
.softSkills-middle-row-card-text {
  text-align: center;
}

.portfolio {
  margin-top: 50px;
}
.portfolio-top {
  display: flex;
  flex-direction: column;
  gap: 1px;
  opacity: 0;
}
.portfolio-top-animate {
  animation: FirstProjectToRight 500ms ease-in-out forwards;
}
@media (max-width: 768px) {
  .portfolio-top {
    align-items: center;
  }
}
.portfolio-top-title {
  font-size: 24px;
  color: bisque;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .portfolio-top-title {
    font-size: 22px;
  }
}
.portfolio-top-text {
  font-size: 17px;
}
@media (max-width: 768px) {
  .portfolio-top-text {
    text-align: center;
  }
}
.portfolio-fristProject {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.portfolio-fristProject-top {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin: 0 auto;
  margin-top: 25px;
  opacity: 0;
}
.portfolio-fristProject-top-animate {
  animation: topAnimationFirstProject 500ms ease-in-out forwards;
}
.portfolio-fristProject-top-title {
  text-align: center;
  font-size: 22px;
  color: bisque;
}
@media (max-width: 1024px) {
  .portfolio-fristProject-top-title {
    font-size: 20px;
  }
}
.portfolio-fristProject-top-text {
  text-align: center;
  font-size: 17px;
}
@media (max-width: 1024px) {
  .portfolio-fristProject-top-text {
    font-size: 16px;
  }
}
.portfolio-fristProject-middle {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .portfolio-fristProject-middle {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}
.portfolio-fristProject-middle-left {
  width: 45%;
  overflow: hidden;
  border-radius: 10px;
  opacity: 0;
}
.portfolio-fristProject-middle-left-animate {
  animation: FirstProjectToLeft 500ms ease-in-out forwards;
}
@media (max-width: 1024px) {
  .portfolio-fristProject-middle-left {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .portfolio-fristProject-middle-left {
    width: 70%;
  }
}
@media (max-width: 425px) {
  .portfolio-fristProject-middle-left {
    width: 100%;
  }
}
.portfolio-fristProject-middle-left-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 4px black;
  transform: scale(1);
  transition: all 350ms ease-in-out;
}
.portfolio-fristProject-middle-left-image:hover {
  transform: scale(1.2);
}
.portfolio-fristProject-middle-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  opacity: 0;
}
.portfolio-fristProject-middle-right-animate {
  animation: FirstProjectToRight 500ms ease-in-out forwards;
}
@media (max-width: 1024px) {
  .portfolio-fristProject-middle-right {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .portfolio-fristProject-middle-right {
    gap: 25px;
    width: 70%;
  }
}
@media (max-width: 425px) {
  .portfolio-fristProject-middle-right {
    width: 100%;
  }
}
.portfolio-fristProject-middle-right-title {
  font-size: 22px;
  color: bisque;
}
@media (max-width: 1024px) {
  .portfolio-fristProject-middle-right-title {
    font-size: 18px;
  }
}
.portfolio-fristProject-middle-right-text {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}
@media (max-width: 1024px) {
  .portfolio-fristProject-middle-right-text {
    font-size: 16px;
  }
}
.portfolio-fristProject-middle-right-button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-family: "Dosis", sans-serif;
  letter-spacing: 1px;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .portfolio-fristProject-middle-right-button {
    font-size: 11px;
  }
}
.portfolio-fristProject-middle-right-button:hover {
  background-color: bisque;
  color: black;
  transform: scale(1.1);
}
.portfolio-portfolioContainer {
  margin-top: 50px;
}
.portfolio-portfolioContainer-top {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.portfolio-portfolioContainer-top-title {
  font-size: 24px;
  color: bisque;
}
.portfolio-portfolioContainer-top-text {
  font-size: 17px;
}
.portfolio-portfolioContainer-middle {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 35px;
}
.portfolio-portfolioContainer-middle-filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.portfolio-portfolioContainer-middle-filterBar-title {
  font-size: 18px;
}
.portfolio-portfolioContainer-middle-filterBar-button {
  padding: 10px 15px;
  font-family: "Dosis", sans-serif;
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 16px;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}
.portfolio-portfolioContainer-middle-filterBar-button:hover {
  transform: scale(1.1);
  background-color: bisque;
  color: black;
}
.portfolio-portfolioContainer-middle-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  border-radius: 10px;
  overflow: hidden;
  transform: scale(1);
}
.portfolio-portfolioContainer-middle-container-link {
  overflow: hidden;
  border-radius: 10px;
  transform: scale(1);
  width: 95%;
}
.portfolio-portfolioContainer-middle-container-link-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px black;
  transform: scale(1);
  transition: all 500ms ease-in-out;
}
.portfolio-portfolioContainer-middle-container-link-image:hover {
  transform: scale(1.2);
}/*# sourceMappingURL=main.css.map */